html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html,
body {
   height: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   text-decoration: none;
   color: inherit;
}

ul,
ol,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-size: inherit;
}

img {
   max-width: 100%;
   display: block;
   object-fit: cover;
}

body {      
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: space-between;
   min-width: $minWidth;
   overflow-x: hidden;
   color: #404040;
   background-color: #f7e3c3;
   font-family: $fontFamily1;
   @include fontStyle(400, 24, 1.5);
}

body.lock {
   overflow: hidden;
}

.container {
   max-width: $maxWidthContainer;
   padding: 0 15px;
   margin: 0 auto;
}

.title {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 55px;
   letter-spacing: 2px;
}

.btn {
   display: inline-block;
   padding: 25px 100px;
   font-size: 24px;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   cursor: pointer;
   outline: none;
   border: none;
}
 
